@import "colors";
@import "sizing";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Outfit", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 8px;
  letter-spacing: 0.3px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $background;
  padding: 0 8rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  cursor: pointer;
}

input {
  width: 100%;
  font-size: 2rem;
  padding: 1rem 0;
  font-weight: 500;
  border: none;
  border-bottom: 1px solid black;

  &:focus {
    // border-bottom: 2px solid black;
    // outline-color: black;
    outline: none;
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
  font-weight: 400;
  color: grey;
}

.backdrop {
  z-index: -1;
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
  // background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
}

.content-size {
  font-size: 2rem;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
